channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2
Django==5.0.7
pillow==10.4.0
psycopg-binary==3.2.1
psycopg2-binary==2.9.9
redis==5.0.8
sqlparse==0.5.1
requests==2.25.1
pillow==10.4.0
aioredis==2.0.1
