<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <!-- Menu de navigation commun -->
            <a href="{% url 'tournament_list' %}">Tournament List</a>
            <a href="{% url 'tournament_create' %}">Create Tournament</a>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Contenu spécifique de la page -->
        {% endblock %}
    </main>
</body>
</html>
