{% block header %}
{% include 'navbar2.html' %}
{% endblock %}

{% block content %}
{% for message in messages %}
    <h1 class="fs-1 text-warning">{{ message }}</h1>
{% endfor %}

<div class="container-fluid text-center ">
    
    <h2>Create a New Tournament</h2>
    <br>
    <form method="POST" enctype="multipart/form-data" id="matchmaking/tournament/create/">
        {% csrf_token %}
        {{ form.as_p }} <!-- Affiche les champs du formulaire de création de tournoi -->
        <button type="submit" id="matchmaking/tournament" class="btn btn-outline-dark btn-warning">Save Tournament</button>        
    </form>
    <br> <br>
    <a href="#" id="matchmaking/tournament" class="btn btn-outline-dark  btn-sm m-2">Tournament List</a>
</div>
{% endblock %}
