{% block header %}
{% include 'navbar2.html' %}
{% endblock %}

{% block content %}
{% for message in messages %}
    <h1 class="fs-1 text-warning">{{ message }}</h1>
{% endfor %}

<div class="container-fluid content-center text-center py-4">
    <div class="row">
        <div class="col-md-6 col-sm-10 bg-success-subtle" ;>
            <h3 data-translate="friendReceive">Friend's request receive</h3>
            <ul class="friends_receive">
                {% for friend_request in friend_requests %}
                    {% if user == friend_request.to_user %}
                        <p>
                            <small  class="text-secondary">{{friend_request.from_user.status}}</small> 
                            <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#" id="user/profile/{{friend_request.id}}">{{friend_request.from_user}} </a>
                            <a role="button" data-translate="accept" class="btn btn-outline-success btn-sm" href="#" id="accept_friend_request/{{friend_request.id}}">Accept</a>
                            <a role="button" data-translate="refuse" class="btn btn-outline-danger btn-sm" href="#" id="refuse_friend_request/{{friend_request.id}}">Refuse</a>
                            <a role="button" data-translate="block" class="btn btn-outline-danger btn-sm" href="#" id="block_user/{{friend_request.id}}">Block</a>
                    {% endif%}
                {% endfor%}
            </ul>
        </div>

        <div class="col-md-6 col-sm-10 bg-info-subtle">
            <h3 data-translate="friendsSend">Friend's request send</h3>
            <ul class="friends_send"></ul>
            {% for friend_request in friend_requests %}
                {% if user == friend_request.from_user and user != friend_request.to_user %}
                    {% if friend_request in user.blackList.all %}
                    {%endif%}
                <p> 
                    <small  class="text-secondary">{{friend_request.to_user.status}}</small> 
                    <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#" id="user/profile/{{friend_request.to_user}}">{{friend_request.to_user}}</a>
                    <a role="button" data-translate="play" class="btn btn-outline-success btn-sm" href="#">Play</a>
                    <a role="button" data-translate="remove" class="btn btn-outline-danger btn-sm" href="#" id="user/friends/refuse_friend_request/{{friend_request.id}}">Remove</a>
                </p>  
                {% endif%}
            {% endfor%}
            </ul>  
        </div>

        <div class="col-md-6 col-sm-10 bg-primary-subtle" style="background-color: rgb(189, 163, 214);">
            <h3 data-translate="friends">Friends</h3>
            <ul class="friends_user">
            {% for friends in user.friends.all %}
                {% if user != friends %}
                <p>
                    <small  class="text-secondary">{{friends.status}}</small> 
                    <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#" id="user/profile/{{iends.username}}">{{friends.username}}</a>
                    <a role="button" data-translate="play" class="btn btn-outline-success btn-sm" href="#">Play</a>
                    <a role="button" data-translate="remove" class="btn btn-outline-danger btn-sm" href="#" id="user/friends/remove_friends/{{friends.id}}">Remove</a>
                    <a role="button" data-translate="block" class="btn btn-outline-danger btn-sm" href="#" id="user/friends/block_user/{{friends.id}}">Block</a>
                </p>
                {% endif%}
            {% endfor%}
            </ul>
        </div>

        <div class="col-md-6 col-sm-10 bg-secondary-subtle">
            <h3 data-translate="userList">Users</h3>
            <ul class="all_user">
                {% for user in users %}
                    {% if user not in request.user.friends.all and request.user not in user.blackList.all and user not in request.user.blackList.all and user != request.user %}
                        <p>
                           <small  class="text-secondary">{{user.status}}</small> 
                            <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#" id="user/profile/{{user.username}}">{{user}}</a>
                            <a role="button" data-translate="add" class="btn btn-outline-success btn-sm" href="#" id="user/friends/send_friend_request/{{user.id}}">Add</a>
                            <a role="button" data-translate="play"class="btn btn-outline-success btn-sm" href="#">Play</a>
                            <a role="button" data-translate="block"class="btn btn-outline-danger btn-sm" href="#" id="user/friends/block_user/{{user.id}}">Block</a>
                        </p>
                    {% endif %}
                {% endfor%}
            </ul>   
        </div>        

        <div class="col-md-6 col-sm-10 bg-danger-subtle">
            <h3 data-translate="friends">Black list</h3>
            <ul class="friends_user">
            {% for black in user.blackList.all %}
                {% if user != black %}
                <p>
                    <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#" id="user/profile/{{black.username}}">{{black.username}}</a>
                    <a role="button"  data-translate="unblock" class="btn btn-outline-danger btn-sm" href="#" id="user/friends/unblock_user/{{black.id}}">Unblock</a>
                </p>
                {% endif%}
            {% endfor%}
            </ul>
        </div>
{% endblock %}