{% block header %}
    {% include 'navbar1.html' %}
{% endblock %}

{% block content %}
{% for message in messages %}
    <h1 class="fs-1 text-warning">{{ message }}</h1>
{% endfor %}

    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="position-absolute top-50 start-50 translate-middle"></div>
            <form method="POST" enctype="multipart/form-data" id="user/register/">
                {%  csrf_token %}
                {{ form.as_p }}
                <button type="submit" id="user/login"  class="btn btn-outline-success btn-sm">Register</button>
            </form>
        </div>
    </div>
{% endblock %}